<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <style>
      .habilitado {
        pointer-events: auto;
        opacity: 1;
      }

      .deshabilitado {
        pointer-events: none;
        opacity: 0.5;
      }
            h2 {
      	margin-top:5%
      }
    </style>
  </head>
  <body>
    <nav th:fragment="menu-principal" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">EcomApp</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>       
      </button>

            
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                    
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active" th:href="@{/productos/}">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/users/}">Usuarios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/pedidos/}">Pedidos</a>
          </li>
        </ul>

        <div sec:authorize="isAuthenticated()">
          <span class="text-light">Bienvenido</span> <span class="text-light" sec:authentication="name"></span>
          <a class="btn btn-primary" th:href="@{/logout}">Salir</a>
        </div>
              
      </div>
    </nav>
    <main>
      <div class="container">
        <h2>Listado de productos</h2>

        <a th:href="@{/productos/form}" class="btn btn-primary mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
          </svg>
          Añadir Producto
        </a>

        <table class="table">
          <th>Nombre</th>
          <th>Descricpion</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Destacado</th>
          <th>Activo</th>
          <th>Categoría</th>
          <th>Operaciones</th>

          <tr th:each="producto : ${listaProds}">
            <td th:text="${producto.nombre}"></td>
            <td th:text="${producto.descripcion}"></td>
            <td th:text="${producto.precio}"></td>
            <td th:text="${producto.cantidad}"></td>
            <td th:text="${producto.destacado} ? 'Sí' : 'No'"></td>
            <td th:text="${producto.activo} ? 'Sí' : 'No'"></td>
            <td th:text="${producto.categoria.nombre}"></td>
            <td>
              <a th:href="@{/productos/edit/{id} (id = ${producto.id})}">Editar</a>
              <a th:classappend="${producto.activo} ? 'deshabilitado' : 'habilitado'" th:href="@{/productos/activate/{id} (id = ${producto.id})}">Habilitar</a>
              <a th:classappend="${producto.activo} ? 'habilitado' : 'deshabilitado'" th:href="@{/productos/delete/{id} (id = ${producto.id})}">Deshabilitar</a>
            </td>
          </tr>
        </table>

        <p th:if="${msg != null}" th:text="${msg}"></p>
      </div>
    </main>
  </body>
</html>
