body {
  margin: 0;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.box-shadow {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

h3 {
  text-align: center;
}

a {
  color: #ee1f9a;
}

a:visited {
  color: #cc1f87;
}

.logo {
  height: 5rem;
  scale: 1.2;
}

.nombreProducto {
  font-weight: bold;
}

.imagenProducto {
  width: 100%;
  height: auto;
}

.imagenCarro,
.productHome {
  height: 11.6rem;
  width: auto;
}
